.box{
    background-color: rgb(255, 29, 29);
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.box h3 {
    color: #2c3e50;
    background-color: rgb(186, 253, 86);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: #34495e;
}

.box p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

